<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
<h3>Hello from Pogoda Api</h3>

<div class="container">

    <nav>
        <div class="nav-wrapper">
            <a href="/weatherApp/" class="brand-logo"> <i class="large material-icons">wb_sunny</i>Pogoda 2.0</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a th:href="@{/weatherApp/current-weather(city='pszczyna',country='pl',lang='pl')}">Pszczyna</a></li>
                <li><a th:href="@{/weatherApp/current-weather(city='katowice',country='pl',lang='pl')}">Katowice</a></li>
                <li><a th:href="@{/weatherApp/current-weather(city='gliwice',country='pl',lang='pl')}">Gliwice</a></li>
                <li><a th:href="@{/weatherApp/current-weather(city='krakow',country='pl',lang='pl')}">Krakow</a></li>
                <li><a th:href="@{/weatherApp/current-weather(city='london',country='en',lang='en')}">London</a></li>
                <li><a th:href="@{/weatherApp/current-weather(city='dublin',country='ie',lang='ie')}">Dublin</a></li>
                <li><a th:href="@{/weatherApp/current-weather(city='Nice',country='fr',lang='fr')}">Nice</a></li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="inner">

        <div class="row">
            <div class="col s12 m4 l4 orange lighten-4">
                <h2>City</h2>
                <h2>Main</h2>
                <h2>Details</h2>
                <h2>Temp</h2>
                <h2>Feels Like</h2>
                <h2>Wind Speed</h2>
            </div>

            <div class="col s12 m8 l8  light-blue lighten-4">
                <h2 th:text="${currentWeather.city}">Test</h2>
                <h2 th:text="${currentWeather.mainWeather}">Conditions</h2>
                <h2 th:text="${currentWeather.description}">Details</h2>
                <h2 th:text="${currentWeather.temperature} + ' &#8451;'">Temperature</h2>
                <h2 th:text="${currentWeather.feelsLike} + ' &#8451;'">Feels Like</h2>
                <h2 th:text="${currentWeather.windSpeed} + ' mph'"></h2>
            </div>
        </div>

        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Footer Content</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>  Pogoda   </a>
                            <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>Zaloz konto</a>
                            <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>Zaloguj się</a>
                            <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>  Servis   </a>
                            <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>   Blog    </a>
                            <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>  Contact  </a>
                            <a href="https://justjoin.it/" class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>  Kariera  </a>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2021 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>
    </div>


</div>
</body>
</html>