<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link type="text/css" media="all" rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<h3>Hello from Pogoda Api</h3>

<div class="container teal lighten-2" lighten-3>
    <nav>
        <div class="nav-wrapper">
            <a href="/weatherApp/" class="brand-logo"> <i class="large material-icons">wb_sunny</i>Pogoda 3.0</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a th:href="@{/weatherApp/current-weather(city='pszczyna',country='pl',lang='pl')}">Pszczyna</a></li>
                <li><a th:href="@{/weatherApp/current-weather(city='katowice',country='pl',lang='pl')}">Katowice</a></li>
                <li><a th:href="@{/weatherApp/current-weather(city='gliwice',country='pl',lang='pl')}">Gliwice</a></li>
                <li><a th:href="@{/weatherApp/current-weather(city='krakow',country='pl',lang='pl')}">Krakow</a></li>
                <li><a th:href="@{/weatherApp/current-weather(city='london',country='gb',lang='pl')}">London</a></li>
                <li><a th:href="@{/weatherApp/current-weather(city='dublin',country='ie',lang='pl')}">Dublin</a></li>
                <li><a th:href="@{/weatherApp/current-weather(city='Nice',country='fr',lang='pl')}">Nice</a></li>
            </ul>
        </div>
    </nav>

    <div class="valign-wrapper row login-box">
        <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
            <div class="card">
                <div class="card-image">
                    <img src="https://static01.nyt.com/images/2014/12/11/technology/personaltech/11machin-illo/11machin-illo-articleLarge-v3.jpg?quality=75&auto=webp&disable=upscale">
                    <span class="card-title">Welcome in the Best Weather App</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light btn-large red"
                       href="/weatherApp/select-weather"><i class="large material-icons">ac_unit</i></a>
                </div>
                <div class="card-content">
                    <p>This is simple WEATHER Api created by </p>
                    <p>...:::Team_1:::...</p>
                </div>
            </div>
        </div>

    </div>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>  Pogoda   </a>
                        <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>Zaloz konto</a>
                        <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>Zaloguj się</a>
                        <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>  Servis   </a>
                        <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>   Blog    </a>
                        <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>  Contact  </a>
                        <a href="https://justjoin.it/" class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>  Kariera  </a>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2021 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>