<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <h3>Hello from Pogoda Api</h3>

    <header>
        <div class="inner">
            <nav>
                <a href="#" class="logo">Logo</a>
                <input type="checkbox" id="nav" /><label for="nav"></label>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li>
                        <a href="#">Work</a>
                        <ul>
                            <li><a href="#">Pogoda</a></li>
                            <li><a href="#">Zaloz konto</a></li>
                            <li><a href="#">Zaloguj sie</a></li>
                            <li><a th:href="@{/weatherApp/current-weather(city='pszczyna',country='pl')}">Pszczyna</a></li>
                            <li><a th:href="@{/weatherApp/current-weather(city='dublin',country='ie')}">Dublin</a></li>
                            <li><a th:href="@{/weatherApp/current-weather(city='Nice',country='fr')}">Nice</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Servis</a></li>
                    <li><a href="#">Blog </a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Kariera</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>