<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select</title>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link type="text/css" media="all" rel="stylesheet" th:href="@{/css/weather.css}"/>
</head>
<body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<div class="container">
    <nav>
        <div class="nav-wrapper teal lighten-2">
            <a href="/weatherApp/" class="brand-logo"> <i class="large material-icons">wb_sunny</i>Pogoda 3.0</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a th:href="@{/weatherApp/current-weather(city='pszczyna',country='pl',lang='pl')}">Pszczyna</a></li>
                <li><a th:href="@{/weatherApp/current-weather(city='katowice',country='pl',lang='pl')}">Katowice</a></li>
                <li><a th:href="@{/weatherApp/current-weather(city='gliwice',country='pl',lang='pl')}">Gliwice</a></li>
                <li><a th:href="@{/weatherApp/current-weather(city='krakow',country='pl',lang='pl')}">Krakow</a></li>
                <li><a th:href="@{/weatherApp/current-weather(city='london',country='gb',lang='pl')}">London</a></li>
                <li><a th:href="@{/weatherApp/current-weather(city='dublin',country='ie',lang='pl')}">Dublin</a></li>
                <li><a th:href="@{/weatherApp/current-weather(city='Nice',country='fr',lang='pl')}">Nice</a></li>
            </ul>
        </div>
    </nav>

    <br/><br/><br/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        $(document).ready(function() {
            $('select').formSelect();
        });
    </script>
    <div class="browser-default input-field col s12">
        <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>
        <label>Materialize Select</label>
    </div>

    <form th:action="@{/current-weather}">
        <input type="text" th:name="participant"/>
        <select th:name="country">
            <option value="de">Germany</option>
            <option value="nl">Netherlands</option>
            <option value="pl">Poland</option>
            <option value="lv">Latvia</option>
        </select>
    </form>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Aplikacja POGODOWA 3.0</h5>
                    <p class="grey-text text-lighten-4">Zapoznaj się z naszą</p>
                    <p class="grey-text text-lighten-4">Aplikacją</p>
                    <h5 class="grey-text text-lighten-4">Pogodową</h5>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>  Pogoda   </a>
                        <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>Zaloz konto</a>
                        <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>Zaloguj się</a>
                        <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>  Servis   </a>
                        <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>   Blog    </a>
                        <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>  Contact  </a>
                        <a href="https://justjoin.it/" class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>  Kariera  </a>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2021 Copyright Team_1
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
</div>
</div>
</div>
</body>
</html>